body {
	text-align: left;
	margin-left: 25vw;
	margin-right: 25vw;
	background-color: wheat;

}
h1, h2, h3{
	font-family: 'PT Mono', monospace;
	font-weight: bold;
	font-size: 24pt;
	text-align: center;
	color: saddlebrown;
}
h3{
	font-weight: normal;
	font-size: initial;
}
h2{
	font-size: 20pt;
}
p{
	font-family: 'Lateef', cursive;
	font-size: 20pt;
	line-height: 1em;
	color: saddlebrown;
	margin-bottom: .5em;
}
div{
	margin: 0 auto;
}