body{
	background-image: url(../imgs/firth.jpg);
	background-size: 10%;
	margin: 5vw;

}
div{
	background-color: wheat;
	text-align: center;
	margin: 5vw;
	padding: 2.5vw 5vw 2.5vw 5vw;
}
h1, h2, h3{
	font-family: 'Cabin Sketch', cursive;
}
p{
	font-family: 'Homemade Apple', cursive;
}