html{
	min-height: 100%;
}
body{
	color: white;
	margin: 3vh 0 3vh 0;
	background: rgb(9,9,121);
	background: linear-gradient(0deg, rgba(9,9,121,1) 0%, rgba(48,76,99,1) 0%, rgba(144,213,239,1) 100%);
}
h1,a{
	font-weight: normal;
	font-family: 'Sigmar One', cursive;
}
#hc>.header>h1{
	font-size: 1.2em;
	font-weight: normal;
}
h3,p{
	font-family: 'Bitter', serif;
	line-height: 1.5em;
}
a{
	font-size: 1.5em;
	color: white;
}
.mobile>a{
	text-decoration: none;
}
.mobile{
	display: none;
}
.header{
	float: left;
	background-color: rgb(78,87,95);
	color: white;
	margin: 0 auto;
	padding: 1vw;
	min-width: 50%;
	text-align: center;
}
.clearfix:before, .clearfix:after{
	content:" ";
	display: table;
}
.clearfix:after{
	clear: both;
}
#hc>.header{
	display: inline-block;
	width: 38vw;
	height: 15vh;
	background-color: rgb(78,87,95);
	color: white;
	margin: 0 auto;
	border-radius: 1vw;
}
.about{
	float: right;
	background-color: rgb(78,87,95);
	color: white;
	margin: 0 auto;
	padding: 1vw;
}
#hc>.about{
	height: 15vh;
	display: inline-block;
	float: right;
	text-align: center;
	width: 8vw;
	padding: 3vh 3vw;
	margin-left: 3vw;
	border-radius: 1vw;
}
.home{
	float: left;
	background-color: rgb(78,87,95);
	color: white;
	margin: 0 auto;
	padding: 1vw;
	text-align: center;
}
#hc>.home{
	height: 15vh;
	display: inline-block;
	float: left;
	text-align: center;
	width: 8vw;
	padding: 3vh 3vw;
	margin-right: 3vw;
	border-radius: 1vw;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 70vw;
  margin-left: auto;
  margin-right: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  margin: 0 auto;
  text-align: center;
}
.mySlides>img{
	width: 70%;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  margin-right: 0;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 15vw;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
	background-color: black;
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	left: 35%;
	bottom: 10%;
	width: 40%;
	text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

#gallery{
	margin: 0 auto;
	width: 80vw;
}
.mobile>#gallery{
	width: 40vw;
}
.icon{
	width: 20vw;
	height: 20vh;
	margin: 1vw 0;
	background-color: white;
	border: 1px solid black;
	transform: skewX(-45deg);
	float: left;
	overflow: hidden;
}
.dudicon{
	width: 20vw;
	height: 20vh;
	margin: 1vw 0;
	transform: skewX(-45deg);
	float: left;
	overflow: hidden;
}
.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten{
	width: 20vw;
	height: 20vh;
	margin: 1vw 0;
	float: left;
	margin-left: 3.5vw;
	transform: skewX(45deg);
}

.one{
	background-image: url(../imgs/pss.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}
.mobile>#gallery>.icon>.one{
	background-position: left;
	background-size: 200%;
}
.two{
	background-image: url(../imgs/bss.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}
.mobile>#gallery>.icon>.two{
	background-position: left;
	background-size: 200%;
}
.three{
	background-image: url(../imgs/ts.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}
.mobile>#gallery>.icon>.three{
	background-position: left;
	background-size: 200%;
}
.four{
	background-image: url(../imgs/ghs.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}
.mobile>#gallery>.icon>.four{
	background-position: left;
	background-size: 200%;
}
.five{
	background-image: url(../imgs/gws.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}
.mobile>#gallery>.icon>.five{
	background-position: left;
	background-size: 200%;
}
.six{
	background-image: url(../imgs/gs.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
.mobile>#gallery>.icon>.six{
	background-position: left;
	background-size: 200%;
}
.seven{
	background-image: url(../imgs/tgs.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}
.mobile>#gallery>.icon>.seven{
	background-position: left;
	background-size: 200%;
}
.eight{
	background-image: url(../imgs/mms.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}
.mobile>#gallery>.icon>.eight{
	background-position: left;
	background-size: 200%;
}
.nine{
	background-image: url(../imgs/bs.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}
.mobile>#gallery>.icon>.nine{
	background-position: left;
	background-size: 200%;
}
.ten{
	background-image: url(../imgs/ws.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
.mobile>#gallery>.icon>.ten{
	background-position: left;
	background-size: 200%;
}
.dlink1, .dlink2, .dlink3, .dlink4, .dlink5, .dlink6, .dlink7, .dlink8, .dlink9, .dlink10{
	background-color: black;
	float: left;
	/*margin-left: -2.5vw;*/
	text-align: center;
	display: none;
	z-index: 10;
	width: 100%;
	transform: skewX(-45deg);
	transition: all ease 0.5s;
}
.appear{
	display: block;
	transition: all ease 0.5s;
}
.bodytext{
	margin: 0 auto;
	padding: 0 15vw;
	width: 75vw;
}
.center{
	display: block;
	margin: 0 auto;
	max-width: 50%;
}
.mobile>.center{
	max-width: 80%;
	margin-top: 1vh;
}
#hc{
	height: 15vh;
	width: 60vw;
	text-align: center;
	margin: 0 auto;
}
.divider{
	width: 100%;
	height: 0.25vh;
	background-color: white;
}
.side{
	margin: 1vw 0 1.5vw 1.5vw;
	display: block;
	float: right;
	width: 50%;
}
#myBtn {
	position: relative;
	left: 50%;
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(0, 33, 87); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    font-family: 'Bitter', serif;
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}


@media only screen and (max-width: 1024px){
	.desktop{
		display: none;
	}
	.mobile{
		display: block;
	}
	#hc>.header>h1{
		font-size: 1.25em;
	}
	.bodytext{
		width: 100vw;
	}
	.center{
		max-width: 100%;
		margin-top: 4vh;
	}
	.dlink1,.dlink2,.dlink3,.dlink4,.dlink5,.dlink6,.dlink7,.dlink8,.dlink9,.dlink10{
		transform: rotate(-45deg);
		overflow: visible;
		margin: 2vw 0 0 2vw;
		font-size: 1em;
	}


}
@media only screen and (max-width: 768px){
	.desktop{
		display: none;
	}
	.mobile{
		display: block;
	}
	#hc{
		width: 100vw;
	}
	#hc>.header{
		width: 64vw;
	}
	#hc>.home{
		width: 15vw;
	}
	#hc>.about{
		width: 15vw;
	}
	#hc>.header>h1{
		font-size: 1.25em;
	}

}
@media only screen and (max-width: 375px){
	#hc>.header>h1{
		font-size: 1.1em;
	}
}