body{
	margin-left: 30vw;
	margin-right: 30vw;
	text-align: center;
	background-color: black;
	background-image: url(../imgs/night-city-skyline-background-vector.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}
h1, p{
	color: white;
}
h1{
	font-family: 'Squada One', cursive;
}
p, a{
	font-family: 'Titillium Web', sans-serif;
}
a{
	color: skyblue;
	transition: all 500ms ease;
}
a:hover{
	color: crimson;
}
a:visited{
	color: plum;
}
.tab{
	text-indent: 40px;
}